@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

:root {
  --poppins-font: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

/** General Rules **/
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  text-decoration: none;
}

.header {
  padding: 1rem 2rem;
  display: flex;
  gap: 30px;
}

.image-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.image-logo {
  width: 80px;
  height: 80px;
}

.heading,
.nav-item {
  font-family: var(--poppins-font);
  font-style: normal;
}

.heading {
  font-weight: 500;
  font-size: 22px;
  text-decoration: underline;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 50%;
}

.nav-list {
  font-size: 16px;
  color: #000;
}

.main-section {
  padding: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
}

.display-item-block,
.display-item-block-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.45rem;
}

.item-img-block {
  border: 2px solid #000;
  width: 350px;
  height: 350px;
  margin-bottom: 1rem;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-title-like {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 12px;
  margin-bottom: 1.75rem;
}

.comment-btn {
  display: flex;
  margin: 0 auto;
  border-radius: 3px;
  height: 26px;
  padding: 5px;
  box-shadow: 3px 3px #000;
}

.footer {
  font-family: var(--poppins-font);
  font-size: 18px;
  padding: 5vh 7%;
  margin-top: 50px;
  border-top: solid 2px #111;
}
